body {
  background-color: aliceblue;
  box-sizing: border-box;
  border: 1px solid;
  width: 1440px;
  height: 810px;
  margin: auto;
  font-size: 13px;
}

.o-grid {
  margin: 50vh auto;
  transform: translateY(-50%) scale(1);
  width: 50%;
  height: 33.33%;
  border: 1px solid;
  background-color: white;
}
